.spinner {
    color: #121212;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    transform-origin: 40px 40px;
    animation: spinner 1.2s linear infinite;
}
.spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 20px;
    border-radius: 20px;
    background: #121212;
}
.spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -1s;
}
.spinner div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: -0.4s;
}

@keyframes spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}